<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__heading">
      100.industries
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    https://100.industries
  </div>
</footer>
