<%= render "header" %>
<%= render "navigation" %>

<main>
  <%= yield %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">+</i>
  </button>
</main>

<%= render "footer" %>
